<h1>Carrito de Compras</h1>



{{#if cart.length}}
    <ul>
        {{#each cart}}
            <li>
                <h2>{{this.title}}</h2>
                <p>Precio: ${{this.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                
                <button class="removeFromCart" data-product-id="{{this._id}}">Eliminar</button>
            </li>
        {{/each}}
    </ul>
    <p>Total Carrito: ${{totalCart}}</p>
    <button class="checkout">Finalizar Compra!</button>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}

<script src="/static/js/cart.js"></script>







